<div class="wpb_column vc_column_container us_custom_03bd5d66 speci has_bg_color">
    <div class="vc_column-inner">
       <div class="w-separator  hide_on_default hide_on_laptops size_large"></div>
       <div class="w-separator  hide_on_tablets hide_on_mobiles size_medium"></div>
      
       <h6 class="w-text us_custom_c1d5db9c has_text_color"><span class="w-text-h"><span class="w-text-value">SPECIFIKATIONER</span></span></h6>
       
       <div class="w-separator  hide_on_tablets hide_on_mobiles size_small"></div>
       {% comment %} <div class="w-separator  hide_on_default hide_on_laptops size_large"></div>
       <div class="w-separator  hide_on_default hide_on_laptops size_large"></div> {% endcomment %}

       <div class="w-post-elm product_field attributes us_custom_846f6df0 has_text_color  hide_on_default hide_on_laptops">
        
        <div class="woocommerce-product-attributes-item--attribute_pa_brand">
            <span class="w-post-elm-before">MÆRKE: </span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.brand_name }}</span>
        </div>

        <div class="woocommerce-product-attributes-item--attribute_pa_flavour">
        <span class="w-post-elm-before">SMAG: </span>
        <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.flavour  }}</span>
    </div>
    
    <div class="woocommerce-product-attributes-item--attribute_pa_strength">
        <span class="w-post-elm-before">STYRKE: </span>
        <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.strength }}</span>
    </div>
    
    <div class="woocommerce-product-attributes-item--attribute_pa_nicotine">
        <span class="w-post-elm-before">NIKOTIN: </span>
        <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.nicotine }}</span>
    </div>

        <div class="woocommerce-product-attributes-item--attribute_pa_content-gram">
            <span class="w-post-elm-before">INDHOLD (GRAM): </span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.content_ }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_pouches">
            <span class="w-post-elm-before">ANTAL STYKKER: </span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.pouches }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_format">
            <span class="w-post-elm-before">FORMAT: </span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.format }}</span>
        </div>
    </div>
    
    <div class="w-post-elm product_field attributes us_custom_fbdccf4f has_text_color  hide_on_tablets hide_on_mobiles display_table">
        
        <div class="woocommerce-product-attributes-item--attribute_pa_brand">
            <span class="w-post-elm-before">MÆRKE</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.brand_name }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_flavour">
            <span class="w-post-elm-before">SMAG</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.flavour }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_strength">
            <span class="w-post-elm-before">STYRKE</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.strength }}</span>
        </div>

        <div class="woocommerce-product-attributes-item--attribute_pa_nicotine">
            <span class="w-post-elm-before">NIKOTIN</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.nicotine }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_content-gram">
            <span class="w-post-elm-before">INDHOLD (GRAM)</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.content_ }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_pouches">
            <span class="w-post-elm-before">ANTAL STYKKER</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.pouches }}</span>
        </div>
        
        <div class="woocommerce-product-attributes-item--attribute_pa_format">
            <span class="w-post-elm-before">FORMAT</span>
            <span class="woocommerce-product-attributes-item__value">{{ product.metafields.custom.format }}</span>
        </div>
    </div>
    <div class="w-hwrapper us_custom_f2eec366 align_none valign_middle wrap"></div>
    <div class="w-separator size_small">Dette produkt indeholder nikotin, som er et yderst afhængighedsskabende stof
</div>
</div>
</div>
